
*{
margin: 0;
padding: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgba(0, 174, 255, 0.466);
}

.logo{
    width: 18.75rem;
    position: absolute;
    top: 0rem;
    right: 1.875rem;
}
h1{
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
    margin-top: 12.625rem;
    color: #fff;
    text-align: center;
}
form{
    width: 25rem;
    margin: 2.8rem auto;
    text-align: center;
}
form input[type="text"]{
    background-color:rgba(0, 174, 255, 0) ;
    color:white;
    border-style: none;
    font-size: 1rem ;
}
form input[type="text"]::placeholder{
    color: rgba(102, 101, 101, 0.534);
}
form input[type="text"]:focus{
    outline: none;
}
form input[type="submit"]{
    font-size: 1.1rem;
    width: 5rem;
    height: 2.5rem;
    border-style: none;
}
form input[type="submit"]:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgb(74, 133, 209);
}

.list-container{
    width: 25rem;
    margin: 0 auto;
}
.task-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    max-width: 300px;
    color: #55557b;
}
.closebtn {
    width: 1.4rem;
    height: 1.4rem;
}
.closebtn:hover{
    cursor: pointer;
}
#stats{
    margin-top: 1.5rem;
    font-size: 1.3em;
    color: rgba(7, 46, 219, 0.938);
    text-align: center;
}

.list-container::-webkit-scrollbar{
    width: 7px;
}
.list-container::-webkit-scrollbar-thumb{
    background-color: rgb(10, 2, 128);
}

.task-container::-webkit-scrollbar{
    width: 7px;
}
.task-container::-webkit-scrollbar-thumb{
    background-color: rgb(10, 2, 128);
}

body::-webkit-scrollbar{
    display: none;
}
head::-webkit-scrollbar{
    display: none;
}




ul {

    height: 20rem;

    overflow: auto;

    width: 50rem;

}